h1{
  color:#05467f;
}

a{
  text-decoration: none;
}

a:hover{
  color:#7f057b;
}

body{
  background-color:#f0e2d5;
  
  padding-left: 20px;
  padding-right: 15px;
}

h2{
  border-bottom: 1px solid;
  color:#05467f;
}

#info{
  line-height: 1.5em;
}