h1{
  color: #08084f;
  margin-bottom: 0.1em;
}

#pic{
  width:26%;
}

#info{
  line-height: 1.5em;
}

a{
  text-decoration: none;
  color:#080868;
}

a:hover{
  color:red;
}

body{
  background-color: #eae9e6;
  font-family:'times new roman', serif;

  font-size:1.2em;

  padding-left:180px;
  padding-right:15px;
}

h2{
  color:#08084f;
  border-bottom:1px solid;
  margin-top: 1.5em;
}

.side{
  position:fixed;
  top:0;
  left:0;

  background-color:grey;
  width:160px;
  height:100%;
  padding-top:20px;
  padding-left:15px;
  line-height: 1.2em;
  font-size: 1.2em;
  
}