h1{
  color:#0401bc;
}

h2{
  color:#0401bc;
  border-bottom: 1px solid;
}

a{
  text-decoration: none;
}

a:hover{
  color:#ff0026;
}

body{
  background-color:aliceblue;
  padding-left: 15px;
  padding-right: 15px;
}

#info{
  line-height: 1.5em;
}